.menu-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    color: #ffffff;
    z-index: 3;
}

.menu-link:focus {
    outline: solid 2px #5b9dd9;
}

.map-nav-control {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.75rem;
}

.locations-list {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    padding: 1px;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item-action:hover {
    cursor: pointer;
}

.map-marker {
    color: #f10101;
    font-size: 30px;
    transform: translate(-15px,-30px);
    cursor: pointer;
}

.map-marker--selected {
    color: #0105f1;
    font-size: 34px;
    transform: translate(-17px,-34px);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    position: absolute;
    right: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    background-color: #ffffff;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-info {
    width: 220px;
    min-height: 220px;
}

.content-loader-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-error {
    background-color: #fff3cd;
}

.error-icon {
    width: 60px;
    height: 60px;
    margin: 1rem;
}

.alert-no-border {
    border-color: #fff3cd;
}